<h2 class="ui center aligned medium icon header">
  <i class="circular envelope icon"></i>
  Say Something
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chatbox">
      <div class="content" id="messages">
        <div class="ui medium feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, 
                      html: {class: "ui reply form", role: "form"}, 
                      url: message_path, 
                      remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon focus input">
              <%= f.text_field :body %>
              <%= f.button do %>
                <i class="black icon pencil alternate"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  

    
  </div>

  <div class="four wide column">
    <div class="ui card chatbox" style="overflow:hidden;">
      <div class="content">
        <div class="ui secondary vertical pointing menu">
          <a class="active item">
            Active Users
          </a>
          <ul>
            <% (ActionCable.server.connections.map(&:current_user) + [current_user]).uniq.each do |user| %>
              <li>
                <%= user.username %>
              </li> 
            <% end %>  
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>